<h3> Product Orders </h3>

<ul>
{{#each model as |order|}}
  <li>
    {{#link-to 'order' order tagName='li'}}
      {{order.purchaser}}, ${{order.totalCost}}
    {{/link-to}}
  </li>
{{/each}}
</ul>

{{!-- {{outlet}} --}}
