<h3> Order Details </h3>
<h4>{{model.orderDate}}</h4>
<h5>${{model.totalCost}}</h5>
<p>Purchased by <em>{{model.purchaser}}</em></p>
{{#link-to 'orders'}}Back to Product Orders{{/link-to}}

{{!-- {{outlet}} --}}
